main {
  max-width: 140rem;
  margin: 0 auto;
}

.admin__title-wrapper {
  width: 100%;
  margin: 2.8rem 0;
  text-align: left;
}

.admin-title {
  font-size: 2.6rem;
  color: #303030;
}

.admin__table-wrapper {
  width: 100%;
}

.admin__table {
  width: 120rem;
  margin: 0 auto;
  border-collapse: collapse;
}

.admin__table th,
.admin__table td {
  border: 1px solid #b8b8b8;
  padding: 0.4rem;
  text-align: left;
}

.admin__table th {
  background-color: #bcc5cf;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.admin__table tbody tr:nth-child(even) {
  background-color: #d6d6d6;
}

/* shouldnt this class come with the table selector tr after it just like the above and also suggest a color */
.admin__table tbody tr:nth-child(odd) {
  background-color: #cecece;
}

.admin__table tr {
  font-size: 1.2rem;
}
